
{% extends "parkinglot/layout.html" %}
{% load static %}
{% block body %}
<div class="container bg-light">
    <div class="col-md-12 text-center">
    <h1>Booking</h1>
   <div>
    <form method="POST" action="." enctype="multipart/form-data">
        <div class="container">{% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="btn btn-primary" onclick="accept()">Save</button>
           
        </div>
    </form>
    
    <br>

    <h2>Park Here</h2>
    <div class="display-3" style="text-align: center" id= "slotid">{{slot}}</div>
   </div>
</div>
</div>

{% endblock %}
<script>
    let status = document.getElementById("slotid").innerHTML;
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
    function accept(){
        setCookie("carid", document.getElementById("slotid").value, 1);
    }
    function checkCookie(){
        alert(document.cookie);
    }

</script>