{% extends "parkinglot/layout.html" %}
{% load static %}
{% block body %}
<style type="text/css">
    html {
      height: 100%;
    }
    body {
      margin: 0px;
      height: 100%;
    }
    #map {
      height: 30%;
      width: 30%;
    }
</style>
<body onload="init()">
    <h1>Create New Car Park</h1>
   <div>
    <form method="POST" action="." enctype="multipart/form-data">
        <div class="container">{% csrf_token %}
            {{ form.as_p}}
            
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
    </div>
    <div id="map" onclick="getlocation()"></div>
    <div id="your_lat"></div>
    <div id="your_lon"></div>
   <script>    
    var map;

    function init() {
        map = new longdo.Map({
            placeholder: document.getElementById('map')
        });
    }
    function getlocation() {
        var result = map.location();
        console.log(result)
        document.getElementById("your_lat").innerHTML = "LAT: " + result.lat
        document.getElementById("your_lon").innerHTML = "LON: " + result.lon
    }

</script>
</body>
{% endblock %}
