<!DOCTYPE html>
<html>
<head>
    <title>Press for Park</title>
</head>
<body>
    <button type="button" onclick="get_ip()">Book!</button>
    <div><p hidden id = "lat">{{lat}}</p></div>
    <div><p hidden id = "lon">{{lon}}</p></div>
    <div><p hidden id = "id">{{id}}</p></div>
    

    
</body>
</html>

<script>
    ///get ip from api function
    async function get_ip() {
        const response = await fetch('http://ip-api.com/json');
        const data = await response.json();
        var ip = data.query;
        console.log(ip); // debug to console
        console.log(data.lat); // debug to console
        console.log(data.lon); // debug to console

        var lat = data.lat;
        var lon = data.lon;

        var server_lat = document.getElementById("lat").innerHTML;
        var server_lon = document.getElementById("lon").innerHTML;
        
        var id = document.getElementById("id").innerHTML;
        /*if (lat == server_lat && lon == server_lon) {
            alert("You are in the park!");
        } else {
            alert("You are not in the park!");
        }
        */

        if (0 <= parseFloat(lat) - parseFloat(server_lat) <= 3 ){
            alert("You are in the park!");
            window.location.replace("http://localhost:8000/parking/"+id+"/booking/");
        } else {
            alert("You are not in the park!");
        }
    }

</script> 
